body{
	background-color: yellow;
	font-family: 'Raleway', sans-serif;
}
.jesusmaria{
	background-color: #F4F4F4;
}
.localizacion{
	padding: 0 0 4% 0;
}
.cabreraPlato{
	width: 9rem;
	height: 6rem;
}
.title{
	font-size: 1.4rem;
	color: #969a9c;
}
.title:hover{
	color: #222222;
}
.gray{
	color: #454546;
    text-align: center;
}
.gray p{
	font-size: 0.9rem;
}
.logoCabrera{
	margin: 30px 0px;
	width: 20%;
}
/*DESCRIPCION*/
.descripcion{
	padding: 50px 60px;
}
.local{
	margin-bottom: 0px;
	background-color: #454546;
	padding: 44px 40px;
}
.im{
	text-align: center;
}