* {
  margin: auto;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
}
/*VISTA2*/
.vista2{
	padding: 44px 0px;
}
.distritos{
	margin-top: 60px;
}
/*SECTION TOP*/
.sectiontop{
	background-image: url(../image/fondo/OBFCUE0.jpg);
  	background-repeat: no-repeat;
  	background-size: cover;
  	height: auto;
	width: auto;
	padding: 120px 150px;
}
.boxtrans{
	width: 80%;
	padding: 20px;
	background-color: rgba(255,255,255,0.6);
}
.logoPerfil{
	border: 3px solid black;
}
.butonEntrada{
	margin-top: 200px;
	border: 1px solid white;
	padding: 14px 20px ;
	border-radius: 2px;
	text-align: center;
	width: 14%;
	position: relative;
	left: 420px;
}
.butonEntrada:hover{
	background-color: rgba(0,0,0,0.6);
}
.ingresa{
	font-size: 18px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.ingresa:hover{
	color: black;
}


/*MAPA LIMA*/
.mapaLima{
	background-color: #f8ca00;
	text-align: center;
}
.mapa{
	width: 55%;
}
.limaMetro{
	color: white;
	font-size: 4rem;
}

/*BARRA DISTRITOS*/
.distritos a{
	text-decoration: none;
	padding: 1rem;
}
.color{
	color: white;
	margin: 0.4rem 0.4rem;
	border: 1px solid white;
}
.cl1:hover{
	background-color: yellow;
	opacity:0.8;
}
.cl2:hover{
	background-color: #D81159;
	opacity:0.8;
}
.cl3:hover{
	background-color: #75D701;
	opacity:0.8;
}
.cl4:hover{
	background-color: #f100e5;
	opacity:0.8;
}
.cl5:hover{
	background-color: #00b9f1;
	opacity:0.8;
}
.cl6:hover{
	background-color: #f9320c;
	opacity:0.8;
}
.cl7:hover{
	background-color: #5c196b;
	opacity:0.8;
}
.cl8:hover{
	background-color: #0080ff;
	opacity:0.8;
}

/*APARECER*/
#ocultar1, #ocultar2, #ocultar3, #ocultar4, #ocultar5, #ocultar6, #ocultar7, #ocultar8 {
	display: none;
}
.circulo{
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.punto1{
	background-color: yellow;
	position: relative;
	bottom: 320px;
	right: 30px;
}
.punto2{
	background-color: #D81159;
	position: relative;
	bottom: 300px;
	right: 30px;
}
.punto3{
	background-color: #75D701;
	position: relative;
	bottom: 420px;
	right: 32px;
}
.punto4{
	background-color: #f100e5;
	position: relative;
	bottom: 410px;
	right: 24px;
}
.punto5{
	background-color: #00b9f1;
	position: relative;
	bottom: 310px;
	right: 12px;
}
.punto6{
	background-color: #f9320c;
	position: relative;
	bottom: 340px;
	right: 26px;
}
.punto7{
	background-color: #5c196b;
	position: relative;
	bottom: 540px;
	right: 26px;
}
.punto8{
	background-color:#0080ff;
	position: relative;
	bottom: 520px;
	right: 12px;
}
.distritos{
	margin-top: 60px;
}