* {
  margin: auto;
  padding: 0;
  border: 0;
  font-family: 'Josefin Sans', sans-serif;
}
body{
	text-align: center;	
}
/*NAV HEADER*/
header{
	background-color: #25221D;
	text-align: center;
}
header .menu {
	padding: 0rem 18rem;
}
header .menu nav a{
	font-size: 22px;
}
header nav ul li {
	float: left;
	padding: 24px 15px;
}
header nav ul li a {
	padding-right: 30px;
	display: inline-block;
	text-decoration: none;
	color: #8c8c8c;
}
header nav ul li a:hover{
	color: #000000;
}
.sectiontop{
	background-image: url(../image/OBFCUE0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
	width: auto;
	padding: 120px 150px;
}
.boxtrans{
	width: 60%;
	padding: 20px;
	background-color: rgba(255,255,255,0.6);
}
.logo{
	border: 3px solid black;
}
.mapaLima{
	background-color: #218380;
}
.mapa{
	display: none;
	overflow: scroll;
	width: 40%;
}
.aparecer{
	display: block;
}